.header__square-pic {
    position: absolute;
    right: 0;
    top: 64px;
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    z-index: 1;
    animation-name: square-pic;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

@keyframes square-pic {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}