.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    margin-bottom: 100px;
    position: relative;
    display: grid;
    /* выше установили ограничения для секции */
}