.khan__book-pic {
  width: 608px;
  height: 620px;
  object-fit: cover;
  background-image: url(/images/khan-book.jpg);
  background-size: 608px 620px;
  object-position: left top;
  margin-right: 48px;
}